.crm-header{
    height: 46px;
    display: flex;
    justify-content: space-between;
}
.crm-title-icon{
    display: flex;
    align-items: center;
    padding: 12px 0;
    gap: 8px;
}
.crm-title{
    font-size: 16px;
    font-weight: 500;
    color: #475647;
    
}
.icon-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #667085;
    color: #fff;
}
.search-input {
  border: none;
  outline: none;
  font-size: 12px;
  color: #667085;
  background: transparent;
}
.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid #D0D5DD;
    width: 192px;
    padding: 8px 12px;
    height:40px;
    border-radius: 4px;
}
.search-icon-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
.menu{
    margin-top: 24px;
    width: 192px;
    height: 252px;
    font-size: 12px;
    font-weight: 500;
    color: #475467;
}
.menu-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    padding: 8px 12px;
}
.icon-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:12px
}
.active{
    background-color: #EBEBF8;
}
.icon{
    width: 20px;
    height: 20px;
}